@import url(https://fonts.cdnfonts.com/css/futura-pt);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Futura PT";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Futura PT";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  padding-top: 33px;
}

.header_text {
  text-align: right;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__container {
  position: relative;
  z-index: 10;
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__text {
  position: relative;
  margin-right: 20px;
  max-width: 470px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.order__text-button {
  font-size: 23px;
  text-align: center;
}

.order__img {
  position: relative;
}

.button__order {
  border-radius: 90px;
  color: #000;
  width: 391px;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc600;
  border: 1px solid black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button__order:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.no-webp .bgc-order{
  background-image: url("../img/header/bgc_transparent.png"); }

.bgc-order {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6%;
  left: -5.2%;
  background-repeat: no-repeat;
}

.bgc-order-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bgc-order-imgsmall {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 47.99875em) {
  .bgc-order-imgsmall {
    display: none;
  }
}

@media (min-width: 83.75em) {
  .order__text-titl {
    font-size: 2.8125rem;
  }

  .order__text-subtitl {
    font-size: 1.875rem;
  }

  .order__text-button {
    font-size: 1.4375rem;
  }
}

@media (max-width: 20em) {
  .order__text-titl {
    font-size: 2rem;
  }

  .order__text-subtitl {
    font-size: 1.25rem;
  }

  .order__text-button {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .header_text {
    font-size: 1.0625rem;
  }
}

@media (max-width: 61.99875em) {
  .button__order {
    width: 295px;
    border: none;
  }

  .bgc-order {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header_text {
    text-align: left;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
  }

  .order__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 140px;
  }

  .order__text {
    max-width: 265px;
  }

  .order__img {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order__img img {
    width: 290px;
    height: 420px;
  }

  .bgc-order-img {
    display: none;
  }

  .bgc-order-imgsmall {
    height: 900px;
  }

  .bgc-order-imgsmall img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 61.99875em) and (min-width: 83.75em) {
  .header_text {
    font-size: 1.375rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 83.75em) {
@supports (font-size: clamp( 1.0625rem , 0.9644607843rem  +  0.4901960784vw , 1.375rem )) {
    .header_text {
      font-size: clamp( 1.0625rem , 0.9644607843rem  +  0.4901960784vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9644607843rem  +  0.4901960784vw , 1.375rem )) {
    .header_text {
      font-size: calc(1.0625rem + 0.3125 * (100vw - 20rem) / 63.75);
    }
}
}

@media (min-width: 20em) and (max-width: 83.75em) {
@supports (font-size: clamp( 2rem , 1.7450980392rem  +  1.2745098039vw , 2.8125rem )) {
    .order__text-titl {
      font-size: clamp( 2rem , 1.7450980392rem  +  1.2745098039vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.7450980392rem  +  1.2745098039vw , 2.8125rem )) {
    .order__text-titl {
      font-size: calc(2rem + 0.8125 * (100vw - 20rem) / 63.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0539215686rem  +  0.9803921569vw , 1.875rem )) {
    .order__text-subtitl {
      font-size: clamp( 1.25rem , 1.0539215686rem  +  0.9803921569vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0539215686rem  +  0.9803921569vw , 1.875rem )) {
    .order__text-subtitl {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 63.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1911764706rem  +  0.2941176471vw , 1.4375rem )) {
    .order__text-button {
      font-size: clamp( 1.25rem , 1.1911764706rem  +  0.2941176471vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1911764706rem  +  0.2941176471vw , 1.4375rem )) {
    .order__text-button {
      font-size: calc(1.25rem + 0.1875 * (100vw - 20rem) / 63.75);
    }
}
}

.webp .bgc-order{ background-image: url(../img/header/bgc_transparent.webp); }